[user]
    name = AAlvz
    email = alfonso@alvz.mx
[push]
    default = current
[pull]
    default = current
[core]
    excludesfile = ~/.config/gitignore
    editor = emacs -nw
[alias]
    s = status
    b = branch
    d = diff --color
    l = log --graph --color
    lon = log --graph --color --oneline
    reb = rebase --interactive
[difftool]
    prompt = false
