! enable Alt bash options
xterm*eightBitInput: false
xterm*eightBitOutput: true
XTerm*background: black
! Adjust Font
xterm*faceName: Monospace
xterm*faceSize: 16

! Copy to Clipboard
xterm*selectToClipboard: true


! I like a LOT of scrollback...
! xterm*savelines: 16384

xterm*loginShell: true

!xrdb -merge ~/.Xresources

*customization: -color
xterm*termName: xterm-256color
